<div id="navbar-footer">
    <footer class="mt-auto border-top">
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <i class="bi bi-house"></i>
                </a>
                <a class="navbar-brand" routerLink="/search">
                    <i class="bi bi-search"></i>
                </a>
                <app-navbar-uploadbutton></app-navbar-uploadbutton>
                <a class="navbar-brand" routerLink="/chat">
                    <i class="bi bi-chat"></i>
                </a>
                <a class="navbar-brand" routerLink="/profile/.">
                    <i class="bi bi-person"></i>
                </a>
            </div>
        </nav>
    </footer>
</div>
