.fi-image {
    left: 0%;
    right: 79.86%;
    top: 0%;
    bottom: 0%;
    border-radius: 50%;
    width: 120%;
    height: 100%;
}

.card-dimensions {
    max-width: 40%
}

.fi-title {
    left: 25.9%;
    right: 7.19%;
    top: 0%;
    bottom: 46.43%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
}

.fi-user-name {
left: 25.9%;
right: 38.85%;
top: 53.57%;
bottom: 0%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;

//display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.8);

}