.fi-user {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;

  &.light {
    color: black;
  }
  &.dark {
    color: white;
  }
}

.fi-user-name {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 13px;

  &.light {
    color: rgba(0, 0, 0, 0.8);
  }
  &.dark {
    color: rgba(255, 255, 255, 0.8);
  }
}

.user-info {
  max-height: 10vh;
}

.user-icon {
  width: 2rem;
  height: 2rem;
}
