<div class="container user-info">
    <div class="row gx-2 pt-3">
        <div class="col-auto">
          <div class="user-info-icon">
            <app-user-icon  [user]="user"></app-user-icon>
          </div>
        </div>
        <div class="col">
            <a routerLink="/profile/{{user.username}}" class="text-decoration-none">
              <h5 class="fi-user {{colorScheme}}">{{user.name}}</h5>
            </a>
            <p class="fi-user-name {{colorScheme}}">@{{user.username}}</p>
        </div>
    </div>
</div>

