.fill {
    position: fixed;
width: 343px;
height: 343px;


}

.xd {
    object-fit: cover;
width: 100%;
height: 343px;
object-position: bottom;
}

.divAfuera {
    margin-left: auto;
    margin-right: auto;
}