/* What’s new today */
.fi-subtitle {
  width: 132px;
  height: 15px;
  left: 16px;
  top: 148px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 0.8rem;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #000000;
}
