.fi-section-heading {
  left: 0%;
  right: -6.08%;
  bottom: 0%;
  margin-bottom: 0%;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;

  color: #000000;
}

.size {
  height: 50%;
}