/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa"), url(./assets/fonts/Comfortaa/static/Comfortaa-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

.fi-subtitle {
  width: 132px;
  height: 15px;
  left: 16px;
  top: 148px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 0.8rem;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #000000;
}

.icon-cropper {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.user-info-icon .icon-cropper  {
  width: 2rem;
  height: 2rem;
}

.user-profile-icon .icon-cropper {
  width: 8rem;
  height: 8rem;
.form-control {
  &.fi-style {
      border-radius: 0ex;
      font-family: 'sans-serif';
      background: #FFFFFF;
      border: 2px solid #000000;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
