<app-user-icon class="d-flex justify-content-center pt-5 pb-4" [user]="user"></app-user-icon>
<app-section-heading class="d-flex justify-content-center" [text]="user.name"></app-section-heading>
<p class="fi-subtitle mx-auto pt-3">{{user.city}}, {{user.state}}</p>
<div class="d-flex justify-content-center pt-4">
  <button class="fi-follow-button dark" (click)="updateFollowStatus()">{{followText}} {{user.name}}</button>
</div>
<div class="d-flex justify-content-center pt-3">
  <a class="w-100" routerLink="/chat">
    <button class="fi-follow-button">Message</button>
  </a>
</div>
