.fi-button {
    box-sizing: border-box;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #5A5A5A;
    border: 2px solid #5A5A5A;
}

.style {
    height: 85px;
    color: white;
}