.principal {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.principal p {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 13px;
  font-family: 'Roboto';
  font-weight: bold;
}